.blured {
    filter: blur(0.3rem);
}

.white-icon path {
    stroke: white;
}
.border-top {
    border-bottom: 1px solid #cde2ff66;
    margin-bottom: -9px !important;
    height: 1px;
    width: 100%;
}
.isUrgent {
    max-width: 26px;
    max-height: 26px;
    margin-left: 5px;    
}
.isUrgent.mb-10 {
    margin-bottom: 10px;
}

.isUrgent svg {
    max-width: 26px;
}
.calendar-times {
    min-width: 328px!important;
}

.react-datepicker__input-container input {
    width: 100%;
    height: var(--input-height);
    font-size: var(--input-font-size);
    -webkit-padding-start: var(--input-padding);
    padding-inline-start: var(--input-padding);
    -webkit-padding-end: var(--input-padding);
    padding-inline-end: var(--input-padding);
    border-radius: var(--input-border-radius);
    min-width: 0px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    --input-font-size: var(--chakra-fontSizes-md);
    --input-padding: var(--chakra-space-4);
    --input-border-radius: var(--chakra-radii-md);
    --input-height: var(--chakra-sizes-10);
    border: 1px solid;
    border-color: inherit;
    background: inherit;
    color: #fff;
}